.mobile-button.md-button {
  height: 50px;
  display: block;
  width: 100%;
  min-width: 0;
  margin: 0;
  text-transform: none;
  background-image: none !important;
  font-weight: normal;
  text-shadow: none !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}