.mobile-image {
  text-align: center;
}

.mobile-image img {
  max-width: 100%;
}

.mobile-image.fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.6)
}