.mobile-image {
  text-align: center;
}

.mobile-image img {
  max-width: 100%;
  cursor: zoom-in;
  outline: none !important;
}

.mobile-image.fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.86);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 9999;
}

.mobile-image.fullscreen img {
  cursor: zoom-out;
  width: 70%;
}