/*
= require_self
= require_tree .
= require_tree ../../javascripts/screens/components
*/

* {
  box-sizing: border-box;
}

.app-layout {
  width: 375px;
  height: 680px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  margin: auto;
  overflow: hidden;
  position: relative;
}
[ui-view] {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f7f2f7;
}
.app-header {
  height: 200px;
  background-size: cover;
  position: relative;
}

.app-header__description{
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: translateY(50%);
  background: rgba(255, 255, 255, 0.98);
  border-radius: 5px;
  font-size: 12px;
  left: 15px;
  right: 15px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}


.app-body {
  height: 480px;
  padding: 50px 30px 60px 30px;
  overflow: auto;
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
}
.app-footer {
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: .85;
}

.app-footer__actions .app-controls {
  display: flex;
  justify-content: space-around;
}

.app-control {
  display: block;
  padding: 10px;
}

.relative{
  position: relative;
}

.dynamic-control {
  padding: 10px;
  display: block;
}