/*
= require_self
= require_tree ./app
= require screens/components
= require_tree ../../javascripts/screens/components
*/

* {
  box-sizing: border-box;
}

.app-layout {
  width: 375px;
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: .3s;
  background: white;
  height: 100%;
}

.app-layout-header {
  font-size: 14px;
  padding: 29px 72px;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  height: 70px;
  left: 0;
  right: 0;
  background: #2984a3;
  border-radius: 7px 7px 0 0;
  color: white;
  font-family: sans-serif;
}
.app-layout-header-icon {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background: white;
  position: absolute;
  left: 20px;
  top: 18px;
}
.app-layout-header-name {
  font-size: 14px;
}

.app-layout-body > div {
  width: 100%;
  height: 100%;
}
.app-layout-body {
  height: calc(100% - 120px);
  margin-top: 70px;
  overflow: auto;
  background: #faf7f8;
  border-bottom: 1px solid #efefef;
}
.app-layout-footer {
  position: absolute;
  bottom: 0;
}

.app-layout-footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  margin: 0;
}
.app-layout-footer input {
  height: 50px;
  position: absolute;
  top: 0px;
  width: 100%;
  border: none;
  outline: none !important;
  padding: 15px;
}

.app-layout > * {
  width: 100%;
}

[ui-view] {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f7f2f7;
}

.app-footer__actions .app-controls {
  display: flex;
  justify-content: space-around;
}

.app-control {
  display: block;
  padding: 10px;
}

.relative{
  position: relative;
}

.dynamic-control {
  position: relative;
  padding: 10px;
  display: block;
  max-width: 100%;
}

.add-item {
  padding: 15px;
  text-align: center;
}

[contenteditable] {
  white-space: pre-wrap;
}

[contenteditable]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

[contenteditable]:empty:focus:before {
  opacity: 0.5;
}

.ngdialog md-content,
.ngdialog md-tab-content {
  overflow-x: hidden !important;
}

#open_iframe {
  border: none;
  background: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
  height: 400px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.slick-dots li {
  height: 8px;
  width: 8px;
  margin: 5px 5px 0 0;
  padding: 0px;
  cursor: pointer;
}

.slick-dots li button {
  display: none;
}

.slick-dots li:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 10px;
  background: #D8D8D8;
}
.slick-dots li.slick-active:after {
  background: #292929;
}
.slick-dots li:hover:after {
  background: #2929299e;
}