script type="text/ng-template" id="controls.html"
  div
    ng-transclude
  .add-control click-outside-if="controlTypesIsOpen" click-outside="controlTypesIsOpen=false" ng-class="{active: controlTypesIsOpen}" ng-click="openControlSelector()" ng-style="{backgroundColor: $parent.$parent.screen.content.header.backgroundColor}"