script type="text/ng-template" id="mobile-input.html"
  input.mobile-input placeholder="{{state.placeholder || 'Input'}}" type="{{state.type || 'text'}}" ng-model="Model.data[state.model]" ng-style="{backgroundColor: screen.settings.mainColor || '#650C65'}"