h1 Welcome

p Your email address was recently used to sign up.

p To get started, please confirm your email.

/TODO: add confirm route and action
/p.margin = link_to 'Confirm my email', confirm_url(@user.id, @user.confirm_email_token), class: "button"