script type="text/ng-template" id="mobile-metrics.html"
  .mobile-metrics
    .mobile-metrics-title ng-bind-html-compile="state.title"
    .mobile-metrics-description ng-bind-html-compile="state.description"
