.mobile-metrics {
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: white;
  background: rgba(255, 255, 255, 0.08);
  margin: 0 40px;
}

.mobile-metrics-title {
  font-size: 36px;
  margin-bottom: 5px;
}

.mobile-metrics-description {
  font-size: 16px;
}