.items-in-a-row__list image-uploader, .items-in-a-row__item {
  display: inline-block;
  vertical-align: middle;
}

.items-in-a-row__item {
  border: 1px dashed #ccc;
  padding: 10px;
}

.items-in-a-row__item-actions {
  padding: 16px;
  width: 300px;
}