.mobile-video {
  height: 180px;
}
.mobile-video__preview {
  width: 295px;
  height: 160px;
  position: absolute;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.mobile-video__preview-play {
  width: 58px;
  height: 58px;
  margin: auto;
}

.mobile-video__preview-play i {
  color: white;
  font-size: 58px;
}

.mobile-video__wrapper {
  position: relative;
  padding-bottom: 56.4%; /* 16:9 */
  padding-top: 28px;
  height: 0;
  margin-bottom: 0;
  z-index: 1;
}
.mobile-video__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}