.mobile-items-in-a-row .slick-prev,
.mobile-items-in-a-row .slick-next{
  display: none !important;
}
.mobile-items-in-a-row {
  padding: 15px 0;
}

.mobile-items-in-a-row__title {
  font-size: 14px;
}

.mobile-items-in-a-row__items {
  margin: 10px 0;
}

.mobile-items-in-a-row__item {
  height: 135px;
  width: 115px;
  cursor: pointer;
  background-color: #f7f7f7;
  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mobile-items-in-a-row__decor {
  width: 40px;
  height: 2px;
}