.combination-control {
  min-height: 50px;
  background: white;
  margin-bottom: 10px;
}

.combination-control__subcomponent {
  background: #f7f7f7;
}

.combination-control__actions {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 6;
}

.combination-control__actions i {
  font-size: 14px;
}
.combination-control__settings, .combination-control__delete {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.combination-control__delete {
  color: red;
}

.combination-control__handle {
  cursor: move;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 6;
}


.combination-control-item__settings h2 {
  display: none;
}

.combination-control .gridster {
  min-height: 220px;
}