.mobile-header {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.mobile-header-bg {
  display: block;
  padding: 6px;
}

.mobile-header__progress {
  height: 6px;
  width: 200px;
  position: absolute;
  bottom: 60px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  left: 50%;
  margin-left: -100px;
}

.mobile-header__progress--filled {
  position: absolute;
  border-radius: 3px;
  height: 6px;
  background: white;
}

.mobile-header-fg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: asset-url("beach_api_core/mobile_header.png");
  background-size: cover;
  opacity: 0.5;
  filter: blur(3px);
}