.mobile-header {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.mobile-header-bg {
  display: block;
  padding: 6px;
}

.mobile-header__progress {
  height: 6px;
  width: 200px;
  position: absolute;
  bottom: 60px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  left: 50%;
  margin-left: -100px;
}

.mobile-header__progress--filled {
  position: absolute;
  border-radius: 3px;
  height: 6px;
  background: white;
}

.mobile-header-fg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: asset-url("beach_api_core/mobile_header.png");
  background-size: cover;
  opacity: 0.5;
  filter: blur(3px);
}

.mobile-header__description{
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background: rgba(255, 255, 255, 0.98);
  border-radius: 5px;
  font-size: 12px;
  left: 15px;
  right: 15px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  white-space: pre-wrap;
}


.mobile-header__rating {
  background: rgba(255,255,255,.1);
  color: white;
  font-size: 14px;
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  left: 15px;
  top: 30px;
}

.mobile-header__rating * {
  vertical-align: middle;
}
.mobile-header__rating span {
  margin-left: 6px;
}