//= require active_admin/screens/material
//=require_tree ../../../javascripts/active_admin/screens/components

.delete-from-list {
  color: red;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}


.form-control {
  border-radius: 3px;
  border: 1px solid #ccc;
  width: calc(100% - 30px);
  padding: 10px;
  margin-bottom: 15px;
}

.ngdialog .form-control {
  width: 100%;
}

input[type="string"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
select.form-control  {
  height: 34px;
}

.block {
  display: block;
}

.text-right {
  text-align: right;
}

.s-button .material-icons {
  line-height: 20px;
}


a {
  cursor: pointer;
}

.item-handler {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  height: 32px;
  width: 32px;
  color: #6C0A75;
  cursor: move;
}

.item-delete {
  color: red;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
  padding: 8px;
}

.md-button {
  text-transform: none;
  background-image: none !important;
  font-weight: normal;
  text-shadow: none !important;
  margin: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ngdialog.ngdialog-settings .ngdialog-content {
  border-radius: 0;
  background: white;
  margin: 100px auto;
  position: relative;
}

.ngdialog.ngdialog-settings h2 {
  margin: 0;
  padding: 5px 15px;
}
.ngdialog.ngdialog-settings .ngdialog-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0;
  background: rgb(16,108,200);
  width: 44px;
  height: 44px;
  font-size: 27px;
  padding: 0;
  text-shadow: none;
  font-weight: normal;
}

.ngdialog.ngdialog-settings .ngdialog-close:hover {
  background: rgb(44, 133, 222);
}

.ngdialog {
  z-index: 50 !important;
}
.ngdialog .ngdialog-content {
  width: 450px;
}

md-input-container input.md-input {
  width: 100%;
  border-width: 0 0 1px !important;
  border-radius: 0;
  box-shadow: none !important;
  padding: 2px 2px 1px;
}

.md-button.md-primary.md-raised {
  background: rgb(16,108,200);
}

.form-actions {
  padding: 10px;
  text-align: right;
}

hr.hr {
  border: 1px dashed #e7e7e7;
  border-width: 1px 0 0 0;
  margin: 0;
}