//=require_tree ../../../javascripts/active_admin/screens/components






.delete-from-list {
  color: red;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}


.form-control {
  border-radius: 3px;
  border: 1px solid #ccc;
  width: calc(100% - 30px);
  padding: 10px;
  margin-bottom: 15px;
}

input[type="string"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
select.form-control  {
  height: 34px;
}

.block {
  display: block;
}

.text-right {
  text-align: right;
}

.s-button .material-icons {
  line-height: 20px;
}


a {
  cursor: pointer;
}

.item-handler {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  height: 32px;
  width: 32px;
  color: #6C0A75;
  cursor: move;
}

.item-delete {
  color: red;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
  padding: 8px;
}

.md-button {
  text-transform: none;
  background-image: none !important;
  font-weight: normal;
  text-shadow: none !important;
  margin: 0;
}