div[ui-view].slide-left, div[ui-view].slide-right, div[ui-view].slide-fade {
  left: 0;
  transition: .5s ease all;
  transform: scale(1);
  transition-delay: .1s;
}

div[ui-view].slide-fade:after {
  transition: .5s ease all;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0);
  z-index: -1;
}




div[ui-view].slide-left.ng-enter {
  left: 375px;
}
div[ui-view].slide-left.ng-enter.ng-enter-active {
  left: 0;
}
 
div[ui-view].slide-left.ng-leave {
  left: 0
}
div[ui-view].slide-left.ng-leave.ng-leave-active {
  left: -375px;
}






div[ui-view].slide-right.ng-enter {
  left: -375px;
}
div[ui-view].slide-right.ng-enter.ng-enter-active {
  left: 0;
}
 
div[ui-view].slide-right.ng-leave {
  left: 0
}
div[ui-view].slide-right.ng-leave.ng-leave-active {
  left: 375px;
}



div[ui-view].slide-fade.ng-enter {
  z-index: 10;
  left: 375px;
}
div[ui-view].slide-fade.ng-enter.ng-enter-active {
  left: 0;
}
div[ui-view].slide-fade.ng-leave:after {
  background: rgba(0,0,0,.6);
  z-index: 5;
}
div[ui-view].slide-fade.ng-leave {
  left: 0;
}
div[ui-view].slide-fade.ng-leave.ng-leave-active {
  left: 0;
}
