<!DOCTYPE html>
<html>
<head>
  <title>Beach api core</title>
  <%= stylesheet_link_tag    "beach_api_core/application", media: "all" %>
  <%= javascript_include_tag "beach_api_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
