h1 Hello #{@invitation.email},

p Your friend #{@user.username} has invited you to join team #{@invitation.group.name} on #{@app_name}.

p Please remember to register with your email address #{@invitation.email} to join the team.
  If you would rather not join this team, you can disregard this message.

p Feel great!

p The #{@app_name} Team