.mobile-radio-list {
  background: rgba(255,255,255,.8);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.13);
}

.mobile-radio-list__title {
  margin-bottom: 13px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.mobile-radio-list ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  font-size: 13px;
}