.image-uploader {
  width: 100px;
  height: 100px;
  background: white;
  border: 1px dashed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 7px rgba(0,0,0,.3);
  position: relative;
}

.image-uploader-left {
  margin: 5px 0;
}

.image-uploader input[type="file"]{
  display: none;
}

.image-uploader:hover {
  opacity: .8;
}

.image-uploader label {
  padding: 15px;
  display: none;
  cursor: pointer;
}

.image-uploader:hover label{
  background: #333;
  color: white;
  font-size: 13px;
  display: block;
}

.icon-uploader {
  margin-top: -20px;
}

.icon-uploader .image-uploader {
  width: 40px;
  height: 40px;
  margin: 0;
}

.icon-uploader .image-uploader label {
  padding: 0;
}
.icon-uploader .image-uploader label span {
  font-size: 8px;
}