.mobile-modal__settings {
  background: white;
  color: #333;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 6px rgba(0,0,0,.2);
  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  padding: 3px;
  right: -15px;
  top: -15px;
}