<script type="text/ng-template" id="chart.html">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="260px" height="170px" viewBox="0 0 322 170" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
        <title>Graph</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Chart-Messages---Line-Goal" transform="translate(-10.000000, -11.000000)">
                <g id="Card---Breakdown">
                    <g id="Graph" transform="translate(0.000000, 11.000000)">
                        <g id="X-Axis-Content" transform="translate(47.000000, 155.000000)" fill="#F7F2F7" font-family=".AppleSystemUIFont" font-size="10" font-weight="normal" letter-spacing="0.15625">
                            <text id="S">
                                <tspan x="254.177246" y="10">S</tspan>
                            </text>
                            <text id="S">
                                <tspan x="214.177246" y="10">S</tspan>
                            </text>
                            <text id="F">
                                <tspan x="174.501953" y="10">F</tspan>
                            </text>
                            <text id="T">
                                <tspan x="134.194336" y="10">T</tspan>
                            </text>
                            <text id="W">
                                <tspan x="92.5244141" y="10">W</tspan>
                            </text>
                            <text id="T">
                                <tspan x="54.1943359" y="10">T</tspan>
                            </text>
                            <text id="M">
                                <tspan x="12.9931641" y="10">M</tspan>
                            </text>
                        </g>
                        <g id="Y-Axis-Content" fill="#F7F2F7" font-family=".AppleSystemUIFont" font-size="10" font-weight="normal" letter-spacing="0.15625">
                            <text id="50">
                                <tspan x="16.9677734" y="135">50</tspan>
                            </text>
                            <text id="100">
                                <tspan x="11.9189453" y="110">100</tspan>
                            </text>
                            <text id="150">
                                <tspan x="12.03125" y="85">150</tspan>
                            </text>
                            <text id="200">
                                <tspan x="10.5419922" y="60">200</tspan>
                            </text>
                            <text id="250">
                                <tspan x="10.6542969" y="35">250</tspan>
                            </text>
                            <text id="300">
                                <tspan x="10.3125" y="10">300</tspan>
                            </text>
                        </g>
                        <path d="M39,153 L331,153 C331.552285,153 332,153.447715 332,154 C332,154.552285 331.552285,155 331,155 L38,155 C37.4477153,155 37,154.552285 37,154 L37,1 C37,0.44771525 37.4477153,1.01453063e-16 38,0 C38.5522847,-1.01453063e-16 39,0.44771525 39,1 L39,153 Z" id="Axis" fill="#F7F2F7"></path>
                        <path d="M39,135 L331.5,135 C331.776142,135 332,135.223858 332,135.5 C332,135.776142 331.776142,136 331.5,136 L39,136 L39,135 Z M39,110 L331.5,110 C331.776142,110 332,110.223858 332,110.5 C332,110.776142 331.776142,111 331.5,111 L39,111 L39,110 Z M39,85 L331.5,85 C331.776142,85 332,85.2238576 332,85.5 C332,85.7761424 331.776142,86 331.5,86 L39,86 L39,85 Z M39,60 L331.5,60 C331.776142,60 332,60.2238576 332,60.5 C332,60.7761424 331.776142,61 331.5,61 L39,61 L39,60 Z M39,35 L331.5,35 C331.776142,35 332,35.2238576 332,35.5 C332,35.7761424 331.776142,36 331.5,36 L39,36 L39,35 Z M39,10 L331.5,10 C331.776142,10 332,10.2238576 332,10.5 C332,10.7761424 331.776142,11 331.5,11 L39,11 L39,10 Z" id="Horizontal-Lines" fill="#FFFFFF" opacity="0.200000003" style="mix-blend-mode: overlay;"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</script>