script type="text/ng-template" id="mobile-chart.html"
  .mobile-chart ng-style="{backgroundColor: $parent.$parent.$parent.screen.content.header.backgroundColor || '#650C65'}"
    div ng-include="'chart.html'"