.mobile-checkbox-list md-checkbox .md-label {
  line-height: 20px;
}
.mobile-checkbox-list {
  background: rgba(255,255,255,.8);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.13);
}

.mobile-checkbox-list__title {
  margin-bottom: 13px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.mobile-checkbox-list ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  font-size: 13px;
}


.mobile-checkbox-list__actions {
  position: absolute;
  right: -20px;
  top: 0;
}
.mobile-checkbox-list__actions-input {
  width: 100px;
  position: relative;
  background: white;
}
.mobile-checkbox-list__actions-input small {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 12px;
  font-weight: bold;
}
.mobile-checkbox-list__actions-input input[type="text"],
.mobile-checkbox-list__actions-input input[type="number"] {
  border: 2px solid #48eccd;
  border-radius: 3px;
  padding: 5px 10px;
  width: 100% !important;
  height: 29px;
  box-shadow: none !important;
  outline: none !important;
}
.mobile-checkbox-list__actions-options {
  white-space: nowrap;
  width: 101px;
  background: white;
}

.mobile-checkbox-list__actions-option {
  width: 29px;
  height: 29px;
  border: 2px solid #00e7c1;
  border-radius: 3px;
  color: #00e7c1;
  text-align: center;
  line-height: 27px;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
  outline: none !important;
}
.mobile-checkbox-list__actions-options .mobile-checkbox-list__actions-option:first-child {
  margin-left: 0;
}

.mobile-checkbox-list__actions-option.active {
  background: #00e7c1;
  color: white;
}

.mobile-checkbox-list__slick {
  height: 30px;
  width: 100px;
}
.mobile-checkbox-list__slick .slick-arrow {
  display: none !important;
}