.ngdialog-mobile-menu .ngdialog-overlay{
  background: rgba(255, 255, 255, 0.12);
}
.ngdialog-mobile-menu {
  left: 0;
  right: 0;
  transform: none;
  bottom: 0;
  top: 0;
  width: 100%;
}
.ngdialog-mobile-menu .ngdialog-content{
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 300px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.13);
}

.ngdialog-mobile-menu .ngdialog-close {
  display: none;
}

.mobile-menu {

}

.mobile-menu-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.mobile-menu-title {
  text-align: center;
  padding: 13px;
  border-bottom: 1px solid #ccc;
}

.mobile-menu-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #e7e7e7;
  margin: 0 15px;
  outline: none;
}

.mobile-menu-item:hover {
  background: #f7f7f7;
}

.mobile-menu-item-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.mobile-menu-item-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}


@keyframes ngdialog-slidein {
  0% {
    bottom: -800px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes ngdialog-slideout {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 800px;
  }
}

.ngdialog.ngdialog-mobile-menu {
    overflow: hidden;
  -webkit-animation: ngdialog-slidein .5s;
  animation: ngdialog-slidein .5s;
}

.ngdialog.ngdialog-mobile-menu.ngdialog-closing {
  -webkit-animation: ngdialog-slideout .5s;
  animation: ngdialog-slideout .5s;
}
