.settings-tabs {
  display: block;
  border-bottom: 2px solid #9a9a9a;
  margin-bottom: 15px;
}
.settings-tab {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  position: relative;
  top: 2px;
}

.settings-tab.active {
  color: #0bb4e0;
  border-bottom: 2px solid #0bb4e0;
}

.settings-tab:hover {
  color: #0bb4e0;
}

.delete-description {
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  color: white;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 14px;
}